/* Estilos de la animación BounceIn General, para hacerla mas rápida  */

/* styles.css */
body.no-scroll {
	overflow: hidden;
}

.card {
	transition: transform 0.3s ease;
}

.card:hover {
	transform: scale(1.05);
}

/* Sobrescribe la duración de la animación */
.fadeIn {
	animation-duration: 0.1s !important; /* Ajusta este valor para hacer la animación más rápida */
}
