/* Para todo el documento */
html {
	overflow: -moz-scrollbars-none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer and Edge */
	scrollbar-width: none; /* Firefox */
}

body {
	overflow: -moz-scrollbars-none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Para WebKit browsers (Chrome, Safari, etc.) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

/* ? Estilos de la animaci칩n FadeIn General, para hacerla mas r치pida */
.animate__animated.animate__fadeIn {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

/* Estilos de la animaci칩n BounceIn General, para hacerla mas r치pida  */

/* styles.css */
body.no-scroll {
	overflow: hidden;
}

.card {
	transition: transform 0.3s ease;
}

.card:hover {
	transform: scale(1.05);
}
